* {
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(4, 90, 110);
}

body {
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 80%;
}

#navbar {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
  height: 1rem;
  width: 60%;
  font-weight: 600;
}

.nav-option {
  opacity: 1;
  transition: 0.3s;
}

.nav-option:hover {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: underline;
  box-shadow: inset 0 0 0 1000px rgba(4, 90, 110);
}

#menu-title {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
}

#menu-options {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1%;
  padding: 1%;
}

*::-webkit-scrollbar {
  display: none;
}

.menu-option {
  min-height: 20rem;
}

#salmon-nigiri {
  background: url(../src/assets/images/menu-items/nigiri/testsushi-fotor-bg-remover-20230413185655.png) no-repeat center center;
  background-size: contain;
}

#tuna-nigiri {
  background: url(../src/assets/images/menu-items/nigiri/tuna-nigiri.png) no-repeat center center;
  background-size: contain;
}

#shrimp-nigiri {
  background: url(../src/assets/images/menu-items/nigiri/shrimp-nigiri.png) no-repeat center center;
  background-size: contain;
}

#egg-nigiri {
  background: url(../src/assets/images/menu-items/nigiri/egg-nigiri.png) no-repeat center center;
  background-size: contain;
}

#crab-nigiri {
  background: url(../src/assets/images/menu-items/nigiri/crab-nigiri.png) no-repeat center center;
  background-size: contain;
}

#cucumber-maki {
  background: url(../src/assets/images/menu-items/maki/cucumber-maki.png) no-repeat center center;
  background-size: contain;
}

#salmon-roe-maki {
  background: url(../src/assets/images/menu-items/maki/salmon-roe-maki.png) no-repeat center center;
  background-size: contain;
}

#salmon-avocado-maki {
  background: url(../src/assets/images/menu-items/maki/salmon-avocado-maki.png) no-repeat center center;
  background-size: contain;
}

#double-salmon {
  background: url(../src/assets/images/menu-items/maki/double-salmon.png) no-repeat center center;
  background-size: contain;
}

#salmon-dreams {
  background: url(../src/assets/images/menu-items/maki/salmon-dreams.png) no-repeat center center;
  background-size: contain;
}

#crab-hand-roll {
  background: url(../src/assets/images/menu-items/hand-roll/crab-hand-roll.png) no-repeat center center;
  background-size: contain;
}

#salmon-hand-roll {
  background: url(../src/assets/images/menu-items/hand-roll/salmon-hand-roll.png) no-repeat center center;
  background-size: contain;
} 

#content {
  padding-bottom: 1%;
  /* box-shadow: inset 0 0 0 1000px rgba(4, 90, 110); */
  box-shadow: inset 0 0 0 1000px rgb(81, 131, 142);
}
