* {
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
}

#content {
  height: 100%;
  display: grid;
  grid-template-rows: max(7.5%, 2rem) 1fr max(5%, 1rem);
}