@import url(../common/header.css);
@import url(../common/footer.css);
@import url(../common/meta.css);
@import url(../common/margins.css);

#contactPage-main-content {
  height: 100%;
  padding: 2%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: auto;
  font-weight: 500;
  box-shadow: inset 0 0 0 1000px rgba(28, 30, 35, 0.8);
}

#contactPage-main-content::-webkit-scrollbar {
  display: none;
}


#map-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#map-info .map {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

.map .picture {
  height: max(100px, 70%);
  width: max(160px, 100%);
  background: url(/src/assets/images/kanazawa-map.png) no-repeat top center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#map-info .info {
  height: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  min-height: 10rem;
}

